.TodoError {
  text-align: center;
  background-color: red;
  font-size: 4rem;
  margin: 1rem;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.89);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}